**/*.dockerfile
**/*Dockerfile
**/.cache
**/.claude
**/.dockerignore
**/.editorconfig
**/.git
**/.github
**/.gitignore
**/.gitmodules
**/.idea
**/.vscode
**/CLAUDE.md
**/CMakeUserPresets.json
**/LICENSE
**/README.md
*build*/
